<div class="login-service service-{{ service }} icon-size-{{ data.bifroest_linkedin_icon_size }} icon-type-{{ data.bifroest_linkedin_icon_type }}">
    <a href="{{ path('bifroest_' ~ (service|lower) ~ '_register') }}" title="{{ 'MSC.bifroest.sign_in_with_linkedIn'|trans }}"><span class="title">{{ 'MSC.bifroest.sign_in_with_linkedIn'|trans }}</span></a>
</div>
